<div *ngIf="!listItem.editMode" class="list-group-item list-group-item-action list-group-item-light card-section"
    [appBorderHighlighter]="listItem.date">
  <div class="card-main-section">
    <div class="card-header">
      <h4 class="card-title">{{listItem.title | uppercase}}
        <span *ngIf="listItem.rate" class="">
            <i [ngClass]="{'my-rate': isMyRate}"
                class="fa fa-star fa-sm star-rate"
                aria-hidden="true"
                (click)="isMyRate = !isMyRate"></i>
        </span>
      </h4>
      <section class="card-header-info">
        <div>{{listItem.duration | durationFormat: listItem.duration}}</div>
        <div>{{listItem.date | date: 'yyyy-MM-dd'}}</div>
      </section>
    </div>
    <div class='card-description' >{{listItem.description}}</div>
    <div class="card-footer text-muted">
      <span *ngFor="let author of listItem.authors" class="btn btn-light author">{{author.firstName}} {{author.lastName}}</span>
    </div>
  </div>
  <section class="card-control-section btn-group-vertical">
    <button (click)="editItem(listItem)" class="btn btn-outline-info">Edit</button>
    <button (click)="deleteItem(listItem)" class="btn btn-outline-danger">Delete</button>
  </section>
</div>

<div *ngIf="listItem.editMode" class="modal-wrapper">
  <app-add-item class="container list-group-item list-group-item-action list-group-item-light card-section editMode"
              [listItem]="listItem"
              (cancelEditItem)="cancelEditItem($event)"
              (saveEditItem)="saveEditItem($event)">
  </app-add-item>
</div>


