.list-group-item {
  margin-top: 10px;
}

.card-section {
  display: flex;
  justify-content: space-between;
}

.card-main-section {
  width: 90%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.card-title {
  align-items: center;
}

.card-header-info {
  display: flex;
  align-items: center;
}

.card-header-info div {
  margin-left: 20px;
}

.star-rate {
  font-size: 20px;
  color: lightgrey;
}

.my-rate {
  color: gold;
}

.editMode {
  border: 1px solid #f98700;
}
