<div class="form-inline">
  <input class="form-control my-1 mr-sm-2 col-md-5 search"
        [ngClass]="{'dirty': isSearched}"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [ngModel]="searchValue"
        (ngModelChange)="changeSearchValue($event)">
  <button *ngIf="isSearched"
        type="button"
        (click)="searchingReset()"
        class="close"
        data-dismiss="modal"
        aria-label="Close">
            <span aria-hidden="false">&times;</span>
  </button>
</div>
