
.searchbar {
  display: flex;
  justify-content: space-between;
}

.searchbar > div {
  display: flex;

}

.radio {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.radio input {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  margin: 4px;
  align-items: center;
}
