<app-modal [options]="options" (confirmResult)="confirmResult($event)"></app-modal>
<div>
  <div class="searchbar">
    <app-searchbar (filteredArray)="filteredArray($event)"
                  (searchedValue)="searchedValue($event)">
    </app-searchbar>
    <div>
      <div class="radio">
        <label for="pageSizeMin">{{pageSizeOptions.minSize}}</label>
        <input type="radio"
              name="pageSize"
              id="pageSizeMin"
              (click)="pageSizeUpdate(pageSizeOptions.minSize)"
              checked>
        <label for="pageSizeMax">{{pageSizeOptions.maxSize}}</label>
        <input type="radio"
              name="pageSize"
              id="pageSizeMax"
              (click)="pageSizeUpdate(pageSizeOptions.maxSize)">
      </div>
      <button (click)="addNewCourse()" class="btn btn-outline-success my-1">Add new Course</button>
    </div>
  </div>
  <div *ngIf="listItems.length">
    <div *ngIf="(listState$ | async).error as value">{{value}}</div>
    <app-list-item
          *ngFor="let item of (listItems | orderBycreationDate)"
          [listItem]="item"
          (editItemById)="editItemById($event)"
          (cancelEditItemById)="cancelEditItemById($event)"
          (deleteItemById)="deleteItemById($event)"
          (updateItem)="updateItem($event)"
          (setUrlParams)="setUrlParams($event)"
          >
    </app-list-item>
    <app-paging
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (changedCurrentPage)="changedCurrentPage($event)">
    </app-paging>
    <button
        (click)="loadMore()"
        class="btn btn-outline-info my-3 mr-sm-2 container">
    Load more
    </button>
  </div>
  <button *ngIf="!listItems.length" (click)="addNewCourse()" class="btn btn-outline-success my-3 mr-sm-2 container">No data. Feel free to add new course</button>
</div>
