<app-modal [options]="options" (confirmResult)="confirmResult($event)"></app-modal>
<div>
  <div class="searchbar">
    <app-searchbar (filteredArray)="filteredArray($event)"></app-searchbar>
    <button (click)="addNewCourse()" class="btn btn-outline-success my-1">Add new Course</button>
  </div>
  <div *ngIf="listItems.length">
<!-- <app-list-item [routerLink]="['/coursesList', routeParams.id]"> -->
    <app-list-item
          *ngFor="let item of (listItems | orderBycreationDate)"
          [listItem]="item"
          (deleteItemById)="deleteItemById($event)"
          (updateItem)="updateItem($event)"
          (setUrlParams)="setUrlParams($event)"
          >
    </app-list-item>
    <button
        (click)="loadMore()"
        class="btn btn-outline-info my-3 mr-sm-2 container">
    Load more
  </button>
  </div>
  <button *ngIf="!listItems.length" (click)="addNewCourse()" class="btn btn-outline-success my-3 mr-sm-2 container">No data. Feel free to add new course</button>
</div>
