<div>
  <div class="container">
    <h1>
      Angular HTTP
    </h1>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" #searchControl class="form-control" id="search" placeholder="Search query">
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="search(searchControl.value)">Search</button>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="optradio" value="10" [(ngModel)]="countToLoad">10 items</label>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="optradio" value="25" [(ngModel)]="countToLoad">25 items</label>
        </div>
      </div>
    </div>
    <form class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" #newUserName class="form-control" id="newUserName" placeholder="Type new user name">
        </div>
      </div>
      <div class="form-group">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="createUser(newUserName.value)">Create</button>
        </div>
      </div>
    </form>
    <div class="users-list">
      <div class="card" *ngFor="let user of users">
        <div class="card-body row">
          <div class="col">{{user.name}}</div>
          <div class="col">{{user.id}}</div>
          <div class="col">
            <button type="button" class="btn btn-primary" (click)=deleteUser(user.id)>Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>