.main-header {
  height: 70px;
  background-color: #f98700;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: auto;
  height: 50px;
}

.logo-name {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  align-items: center;
}

.login-section {
  display: flex;
  align-items: center;
}

.username {
  color: #555;
  font-family: sans-serif;
  font-size: 18px;
}

.btn-logout {
  margin-left: 20px;
}
