<div class="card-main-section">
  <div class="card-header">
    <h4 class="card-title">
      <input class="title-editmode"
            placeholder="Put the title"
            [(ngModel)]="listItem.title">
    </h4>
    <section  >
      <div class="card-header-info">
        <app-duration-input [inputData]="listItem.duration"
                            (changedData)="changedDuration($event)">
        </app-duration-input>
        <app-date-input class="date-editmode"
                        [inputData]="listItem.date"
                        (changedData)="changedDate($event)">
        </app-date-input>
      </div>
    </section>
  </div>
  <div class='card-description' >
    <textarea class="description-editmode"
        placeholder="Put the release date"
        [(ngModel)]="listItem.description">
    </textarea>
  </div>
  <div class='card-authors'>
    <app-multi-input
      [options]="listItem.authors"
      (changedOptions)="changedDate($event)">
    </app-multi-input>
  </div>
</div>
<section class="card-control-section btn-group-vertical">
  <button (click)="saveEdit(listItem)" class="btn btn-outline-success">Save</button>
  <button (click)="cancelEdit(listItem)" class="btn btn-outline-danger">Cancel</button>
</section>
