<div class="modal-wrapper" *ngIf="showModalWindow" tabindex="-1">
  <div class="modalWindow modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{options.title}}</h5>
          <button type="button" (click)="reject()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{options.message}}
        </div>
        <div class="modal-footer">
          <button (click)="reject()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="resolve()" type="button" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
