.form-btns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.isValid.isValidated {
  border: 1px solid green;
}

.isNotValid.isValidated {
  border: 1px solid red;
}

.form-group {
  margin-top: 20px;
}

.incorrectData {
  color: red;
}

.cross-validation-error input {
  border-left: 5px solid red;
}
